<% include ../partials/header %>

<div class="container">
    <h4>Search for the week of: </h4>
    <form action="/songs/results" method="GET">
        <input type="text" name="name" placeholder = "name">
        <input type="submit">
    </form>
</div>

<% include ../partials/footer %>